
*.xml

*.pyc

.idea/.name

.idea/EGC-Cup-2016.iml

.pickle

.png

*.pdf
adrien/.idea/.name

*.iml

pavel/pavel_log.log
pavel/todo
/adrien/java/nbproject/private/
*.mf

*.properties
/adrien/java/build/
*.csv#

adrien/python/static/graph.json

/adrien/browser/build
/adrien/browser/static/data