[Configuration]
;The path of the file or folder with files to analyze

;text_path = corpus/medecine
;text_path = corpus/ages_categories
text_path = ../../input/pdfs/1page/


;Number of grams to find
;Possible values: Positive integers 
ngram_n = 5

;If stopwords should be used to filter certain ngrams, a path of the text file containing those words.
;If no stopwords are required, put False
;Possible values : Boolean values (True, False) or string with the path of a stopwords file (one word per line)
stopwords = False 
;stopwords = stopwords.txt

;Should tokens be stemmed
;Possible values : Boolean values (True, False)
stem = False

;Minimum number of characters a word must have in a ngram
;Possible values: Positive integers 
ngram_min_tok_len = 2

;How many times, at least, should a ngram occur to take it into account.
Possible values: Positive integers 
ngram_min_freq = 2

;How many ngrams to show. 
Possible values: Positive integers 
ngram_top_k = 200


