<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="Content-Type" content="text/html">
  <title>Explorateur des thématiques et des articles</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename = 'css/style.css') }}"/>
</head>
<body>
    <div id="navigation">
        <select onChange="window.location.href=((this.value == 'thématiques') ? 'topic_cloud.html' : 'vocabulary.html')">
            <option selected="selected" disabled="disabled">Vue générale</option>
            <option>thématiques</option>
            <option>vocabulaire</option>
        </select>
        -
        <select onChange="window.location.href='topic/'+this.value+'.html'">
            <option selected="selected" disabled="disabled">Détails à propos d'une thématique</option>
            {% for i in topic_ids %}
                <option>{{ i }}</option>
            {% endfor %}
        </select>
        -
        <select onChange="window.location.href='document/'+this.value+'.html'">
            <option selected="selected" disabled="disabled">Détails à propos d'un article</option>
            {% for j in doc_ids %}
                <option>{{ j }}</option>
            {% endfor %}
        </select>
    </div>
    <div id="header">
        <h1>Explorateur des thématiques et des articles</h1>
        Articles présentés aux conférences EGC de 2004 à 2015
    </div>
    <div id="wrap" style="text-align: left;">
        <h2></h2>
        Cet explorateur des articles présentés aux conférences EGC de 2004 à 2015, et des thématiques qui structurent
        cette collection, a été généré entièrement automatiquement avec le programme :
        <a href="https://github.com/AdrienGuille/TopicModeling">TopicModeling</a>
        <br>
        Ce programme permet de tokeniser, lemmatiser et vectoriser simplement le texte, de construire un modèle
        de thématiques avec les méthodes LSA, LDA ou NMF, et de présenter les résultats via un explorateur interactif.
        <h2></h2>
    </div>
    <div id="wrap">
        <div id="three_columns">
            <h2>Corpus d'entrée</h2>
            <ul>
                <li>Nombre d'articles : {{ corpus_size }}</li>
                <li>Langue des articles : français</li>
            </ul>
        </div>
        <div id="three_columns">
            <h2>Modèle vectoriel</h2>
            <ul>
                <li>Pré-traitement : {{ preprocessor }}</li>
                <li>Pondération : {{ vectorization }}</li>
                <li>Fréquence absolue minimum : {{ min_tf }}</li>
                <li>Fréquence relative maximum : {{ max_tf*100 }}%</li>
                <li>Taille du vocabulaire : {{ vocabulary_size }}</li>
            </ul>
        </div>
        <div id="three_columns">
            <h2>Modèle de thématique</h2>
            <ul>
                <li>Méthode : {{ method }}</li>
                <li>Nombre de thématiques : {{ num_topics }}</li>
            </ul>
        </div>
    </div>
</body>